.nav-menu {
	text-align: right;
}
.nav-spacing {
	margin: 0 0 0 10px;
	text-decoration: none;
	color: blue;
}
.image-link {
	text-decoration: none;
}
.header-style {
	text-align: center; margin: 0 0 80px;
}
.blockquote-box {
	width: 500px; margin: 20px auto; padding: 30px; background-color: #fafafa;
}
.photo-block {
	display: block; margin: 0 auto;
}
.photo-wraparound {
	float: left; margin: 0 40px 0 0;
}
.blockquote {
	font-style: italic; font-size: 20px;
}
.blockquote-opening {
	font-style: normal; font-size: 24px; font-weight: bold; color: #ff0000;
}
.blockquote-shaded {
	padding: 2px 20px; background: #657999;
}
